/* Tampilan dropdown di perangkat mobile */
@media (max-width: 640px) {
  .mobile-dropdown {
    display: block !important; /* Tampilkan dropdown selalu */
  }

  .mobile-dropdown-button {
    display: block; /* Sembunyikan tombol toggle */
  }
}

@media (max-width: 320px) {
  .mobile-dropdown {
    display: block !important; /* Tampilkan dropdown selalu */
  }

  .mobile-dropdown-button {
    display: block; /* Sembunyikan tombol toggle */
  }
}
